<h1>Topics</h1>

 <div class="row">
   <div class="col-md-8">
     <!-- Iterate over each post in @posts. Instance variables created in a
     controller method are available in the corresponing view-->
     <% @topics.each do |topic| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <!-- Rails allows us to replace the 2nd argument, 'topic_path(topic.id)'
             method with 'topic'. Rails will then detect the object, parse its id and
             create the path -->
             <%= link_to topic.name, topic %>
           </h4>
           <small>
             <%= topic.description %>
           </small>
         </div>
       </div>
     <% end %>

   </div>

   <div class="col-md-4">
     <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
   </div>

 </div>
