<h1>Sign Up Confirmation</h1>

<h4>Are you happy the following information is correct?</h4>

<div class="row">
  <div class="col-md-8">
    <ul>
      <li>Name: <%= @user.name %></li>
      <li>Email: <%= @user.email %></li>
    </ul>
  </div>
</div>

<!-- Obviously there are changes here, but I still can't see why the buttons
wouldn't display side-by-side previously. Also, what does 'button_to' allow us
to do that 'link_to' doesn't? -->
<div class="row">
  <div class="col-md-4", style="width: 4em">
    <%= button_to "Yes", { controller: "users", action: "create", params: params },
      class: 'btn btn-success' %>
  </div>
  <div class="col-md-4">
    <%= button_to "Nope", { controller: "users", action: "new" }, method: 'get',
      class: 'btn btn-failure' %>
  </div>
</div>
