<h1>Sign Up Confirmation</h1>

<h4>Are you happy the following information is correct?</h4>

<div class="row">
  <div class="col-md-8">
    <ul>
      <li>Name: <%= @user.name %></li>
      <li>Email: <%= @user.email %></li>
    </ul>
  </div>
</div>

<!-- 'button_to' initiates a controller POST action by default. link_to initiates
a GET action by default. Here button_to was replaced by link_to for the "yes"
button due to strange styling behaviour. This necessitated the specification of
the 'post' method. The params then needed to be passed to the create method via
the resource/path helper -->
<div class="row">
  <div class = "col-md-4">
    <%= link_to "Yes", users_path(params: params), method: :post, class: 'btn btn-success' %>
    <%= link_to "Nope", new_user_path, class: 'btn btn-danger' %>
  </div>
</div>
