<h1>All Posts</h1>
<!-- Iterate over each post in @posts. Instance variables created in a controller -->
<!-- method are available in the corresponing view  -->
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <!-- Rails allows us to replace the 2nd argument, 'post_path(post.id)'
        method with 'post'. Rails will then detect the object, parse its id and
        create the path -->
        <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<% end %>
