// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  position: absolute;
  top: 9px;
  right: 180px;
  width: 95px;
  height: 27px;
  border-radius: 3px;
  background-color: #626fe5;
  text-align: center;
  padding: 3px;
  color: white;
  font-size: 1.1em;
}
